<div class="row-fluid">

  <div class="span3">
  	<div class="well">
	    <h4>Filter Components</h4>

	    <form>

	      <h5>Type</h5>

	      <div checkbox-list ng-model="filter.family">
	        <label ng-repeat="(name, title) in FAMILY_OPTIONS" class="checkbox">
	          <input type="checkbox" value="{{name}}"> {{title}}
	        </label>
	      </div>
	    </form>
	   </div>
  </div>


  <div class="span9 fm-panel component-list">
    <h4>
      <ng-pluralize count="components.length"
                    when="{'0'    : 'No Components found. :-(',
                           'one'  : '1 component found!',
                           'other': '{} components found!'}">
      </ng-pluralize>
    </h4>

    <table class="table table-hover table-striped">
      <tr>
        <th><a href ng-click="sortBy('name')">Name {{sortIconFor('name')}}</a></th>
        <th><a href ng-click="sortBy('family')">Family {{sortIconFor('family')}}</a></th>
      </tr>
      <tr ng-repeat="component in components">
        <td>
          <a href="#/component/{{component._id.$oid}}">
            <b>{{component.name}}</b>
          </a>
          <p>{{component.description}}</p>
        </td>
        <td>

          <p><span class="label label-success">{{component.family}}</span></p>
        </td>
      </tr>
    </table>
  </div>
</div>

