<div class="sidebar">
  <tabs>
    <pane title="projects">
      <ul class="projects noFolder" ng-controller="ProjectsCtrl">
        <!-- <ul class="projects noFolder" > -->

        <li ng-repeat="project in projects" class="project item">
          <a href="#" class="remove"><i>*</i></a>
          <a href="#">
            <i>l</i>
            <span>{{project.name}}</span>
          </a>
          <input value="{{project.name}}" autofocus="">
          <a href="#" class="edit">y</a>
        </li>

        <li>
          <div class="create small">
            <input type="text" placeholder="Add project list">
            <i>&amp;</i>
          </div>
        </li>
      </ul>
    </pane>
    <pane title="team">
      <ul class="people" ng-controller="UsersCtrl">
        <div class="users">
          <li ng-repeat="user in users" class="user item">
            <a href="#">
              <img src="/images/andy.jpg"></img>
              <p>{{user.name}}</p>
            </a>

          </li>
        </div>
        <div class="invitations">

          <li>
            <div class="create small">
              <input type="text" placeholder="Add email for invitation">
              <i>&amp;</i>
            </div>
          </li>
        </div>
      </ul>

    </pane>
    <pane title="me">
      <ul class="settings">
        <li class="help">
          <a href="#"><i>?</i><span>Help</span></a>
        </li>
        <li class="profile">
          <a href="#"><i>U</i><span>Profile</span></a>
        </li>
        <li class="account">
          <a href="#"><i>%</i><span>Account &amp; Billing</span></a>
        </li>
        <li class="logout">
          <a href="/logout"><i>Q</i><span>Logout</span></a>
        </li>
      </ul>
    </pane>
  </tabs>
</div>
