<% layout('../layouts/public') -%>

<form accept-charset="UTF-8" action="/register" class="new_team" id="new_team" method="post">
	<div class="login ">
		<h1>
				Get Started
		</h1>


		<div class="">
			<input class="text" id="name" name="user[name]" placeholder="Your Name" size="30" type="text">
			<p></p>
		</div>

		<div class="">
			<input class="text" id="email" name="user[email]" placeholder="Your Email" size="30" type="text">
			<p></p>
		</div>

		<div class="">
			<input class="text" id="password" name="user[password]" placeholder="Your password" size="30" type="password">
			<p></p>
		</div>


		<div class="">
			<input class="text" id="team_title" name="team[name]" placeholder="Team title" size="30" type="text">
			<p></p>
		</div>

		<div class="">
			<button class="button" type="submit">Let me in</button>
		</div>

	</div>
</form>