<% layout('../layouts/public') %>

<form action="/login" method="post">

	<div class="login ">
		<h1>
				Get Started
		</h1>

		<div class="">
			<p></p>
		</div>

		<div class="">
	    <input class="text" id="email" name="username" placeholder="Email" size="30" type="text">
			<p></p>
	  </div>

	  <div class="">
	    <input class="text" id="password" name="password" placeholder="Password" size="30" type="password">
			<p></p>
	  </div>

	  <div class="">
			<button class="button" type="submit">Login</button>
		</div>

		<!-- <input name="user_session[remember_me]" type="hidden" value="0"><input id="user_session_remember_me" name="user_session[remember_me]" type="checkbox" value="1">
		<label for="user_session_remember_me">Remember me</label> -->

	</div>


</form>

