<ul class="people">
	<div class="users">
    <!-- <li class="user item" data-id="4">
      <a href="#">
        <img src="/assets/andy.jpg">
        <p>loic</p>
      </a>
    </li> -->
  </div>
  <div class="invitations">

  	<li>
  		<div class="create small">
  			<input type="text" placeholder="Add email for invitation">
  			<i>&amp;</i>
  		</div>
  	</li>
  </div>
</ul>
